<launch>
  
    <arg name="robot_name"  default="tb3_1"/>
    <arg name="robot_id"  default="1"/>
    <arg name="aoa_profile_file_path"  default="/home/explorer-1/catkin_ws/src/react-m_explore/explore/data/debug/tx2_aoa_profile__0.csv"/>
    <arg name="aoa_peaks_file_path"  default="/home/explorer-1/catkin_ws/src/react-m_explore/explore/data/aoa_val.csv"/>
    <arg name="publish_aoa_profile"  default="false"/>
    <arg name="use_real_sensor"  default="false"/>
    <arg name="measurement_interval"  default="4.0"/>
    
    <group ns="$(arg robot_name)">
        <node pkg="explore_lite" type="realtime_range_aoa" respawn="false" name="range_bearing_node" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
            <param name="profile_file_path" value="$(arg aoa_profile_file_path)"/>
            <param name="peaks_file_path" value="$(arg aoa_peaks_file_path)"/>
            <param name="pub_aoa_profile" value="$(arg publish_aoa_profile)"/>
            <param name="own_robot_id" value="$(arg robot_id)"/>
            <param name="use_real_sensor" value="$(arg use_real_sensor)"/>
            <param name="measurement_interval" value="$(arg measurement_interval)"/>
        </node>
    </group>

</launch>
