<launch>
  
    <arg name="robot_name"  default="tb3_1"/>
    <arg name="onboard_computer_name"  default="explorer_1"/>
    <arg name="publish_aoa_profile"  default="false"/>
    
    <group ns="$(arg robot_name)">
        <node pkg="explore_lite" type="realtime_range_aoa" respawn="false" name="explore" output="screen">
            <param name="robot_name" value="$(arg robot_name)"/>
            <param name="onboard_name" value="$(arg onboard_computer_name)"/>
            <param name="pub_aoa_profile" value="$(arg publish_aoa_profile)"/>
        </node>
    </group>

</launch>