<launch>
<arg name="ns"  default="tb3_2"/>
<arg name="neighbor_ns"  default="tb3_"/>
<arg name="robot_id"  default="2"/>

 <group ns="$(arg ns)">
  <node pkg="explore_lite" type="test_particle_filter" respawn="false" name="test_particle_filter_node" output="screen">
    <param name="robot_name" value="$(arg ns)"/>
    <param name="robot_id" value="$(arg robot_id)"/>
    <param name="neighbor_name" value="$(arg neighbor_ns)"/>
    <param name="use_WSR" value="true"/>
    <param name="robot_base_frame" value="/$(arg ns)/camera_pose_frame"/>
    <param name="costmap_topic" value="/$(arg ns)/map"/>
    <param name="costmap_updates_topic" value="/$(arg ns)/map_updates"/>
    <param name="visualize" value="true"/>
    <param name="planner_frequency" value="1.0"/> <!--default = 1-->
    <param name="progress_timeout" value="30.0"/>
    <param name="potential_scale" value="3.0"/>
    <param name="orientation_scale" value="0.0"/>
    <param name="gain_scale" value="1.0"/>
    <param name="transform_tolerance" value="0.3"/>
    <param name="min_frontier_size" value="1.5"/> <!-- default 0.75-->
    <param name="sensor_range" value="3.5"/> <!--env1: 1.75, env2: 3.0, 2.0-->
    <param name="decay_rate" value="1"/>
    <param name="WSR_noise_mean" value="0.0"/>
    <param name="WSR_noise_std" value="1"/>
    <param name="noise_WSR" value="true"/>
    <param name="neighbor_count" value="1"/>
    <param name="WSR_robot_displacement" value="odom"/> 
    <param name="antenna_orientation" value="90.0"/> 
    <param name="WSR_config_file" value="/home/react-ws-1/catkin_ws/src/m-explore/explore/config/WSR_param_config.json"/>

  </node>
</group>

</launch>
